<!DOCTYPE html>
<html>
<head>
	<title>GAS</title>

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body style="background-image: url({{url_for('static',filename='img/bg3.jpeg')}});">

	<div class="topnav">
   		<a  class="inactive" href="{{url_for('home')}}">HOME</a>
   		 <a class="inactive" href="{{url_for('solid')}}">SOLID</a>
    	<a  class="inactive" href="{{url_for('gas')}}">GAS</a>
    		<a  class="inactive" href="{{url_for('liquid')}}">LIQUID</a>
    			<a  class="inactive" href="{{url_for('plasma')}}">PLASMA</a>
   		 <div class="login-container">
     		 <form action="">
      		  	<input type="text" placeholder="Username" name="username" required="">
       			<input type="text" placeholder="Password" name="psw" required="">&nbsp
        		<button type="submit">Login</button>
       		</form>
 		 </div>
	</div>

	<div class="container">
		<div class="main">
			<div class="content">
				<div class="banner">

					<p style="text-align: center;"><img src="{{url_for('static',filename='img/gass.png')}}"></p>
					<br><br><br>
					<div class="desc">

					<p style="font-size: 20px;">
						Gas is one of the four fundamental states of matter (the others being solid, liquid, and plasma).<br>

						A pure gas may be made up of individual atoms (e.g. a noble gas like neon), elemental molecules made from one type of atom (e.g. oxygen), or compound molecules made from a variety of atoms (e.g. carbon dioxide). A gas mixture, such as air, contains a variety of pure gases. What distinguishes a gas from liquids and solids is the vast separation of the individual gas particles. This separation usually makes a colourless gas invisible to the human observer.<br>

						The gaseous state of matter occurs between the liquid and plasma states, the latter of which provides the upper temperature boundary for gases. Bounding the lower end of the temperature scale lie degenerative quantum gases which are gaining increasing attention.[4] High-density atomic gases super-cooled to very low temperatures are classified by their statistical behavior as either Bose gases or Fermi gases. For a comprehensive listing of these exotic states of matter see list of states of matter.<br>
					</p>
					
				</div>
					
				</div>

				
					
					
			</div>

				<div class="links">
					
				</div>
				
			</div>
			
		</div>


</body>
</html>